@page
@model VideoGameShop.UI.Pages.Admin.ConfigureUsersModel
@{
}

<main>
    <div id="app" class="container-fluid">
        <h1 class="mt-4">Configure Users</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Admin Menu > Configure Users</li>
        </ol>
        <!-- if not creating/editing users, display table -->
        <div v-if="!editing">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <div>
                            <i class="fas fa-table mr-1"></i>Users
                        </div>
                        <button id="iconButton" type="button" class="btn btn-success" @@click="newUser">
                            <i class="fa fa-plus fa-fw" aria-hidden="true"></i>Add New User
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Password</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- TODO -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- else if editing, display input fields -->
        <div v-else>
            <!-- form input for product name, description, and value -->
            <div class="form-group">
                <label for="username"><b>Username</b></label>
                <input type="text" class="form-control" id="username" v-model="userModel.username">
            </div>
            <div class="form-group">
                <label for="password"><b>Password</b></label>
                <input type="password" class="form-control" id="password" v-model="userModel.password">
            </div>
            <!-- buttons for confirmation and cancellation -->
            <button id="iconButton" class="btn btn-outline-dark mr-1" @@click="cancel">
                <i class="fa fa-times-circle fa-fw" aria-hidden="true"></i>Cancel
            </button>
            <button id="iconButton" class="btn btn-success" @@click="createUser" v-if="!userModel.id">
                <i class="fa fa-check fa-fw" aria-hidden="true"></i>Create User
            </button>
            <button id="iconButton" class="btn btn-warning" @@click="updateUser" v-else>
                <i class="fa fa-check fa-fw" aria-hidden="true"></i>Update Product
            </button>
        </div>
    </div>
</main>

@section scripts{
    <script src="~/js/admin/users.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.12.0/js/all.js" data-auto-replace-svg="nest"></script>
}

