@page
@model VideoGameShop.UI.Pages.Admin.IndexModel
@{
}

<main>
    <div id="app" class="container-fluid">
        <h1 class="mt-4">Products</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Store Menu > Products</li>
        </ol>
        <!-- if not editing products, display table -->
        <div v-if="!editing">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <div>
                            <i class="fas fa-table mr-1"></i>Products
                        </div>
                        <button id="iconButton" type="button" class="btn btn-success" @@click="newProduct">
                            <i class="fa fa-plus fa-fw" aria-hidden="true"></i>Add New Product
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <!-- table header -->
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <!-- table body -->
                            <tbody>
                                <tr v-for="(product, index) in products">
                                    <td>{{product.id}}</td>
                                    <td>{{product.name}}</td>
                                    <td>${{product.value}}</td>
                                    <td>
                                        <button id="iconButton" type="button" class="btn btn-primary" @@click="editProduct(product.id, index)">
                                            <i class="fa fa-edit fa-fw" aria-hidden="true"></i>Edit
                                        </button>
                                        <button id="iconButton" type="button" class="btn btn-danger" @@click="deleteProduct(product.id, index)">
                                            <i class="fa fa-trash fa-fw" aria-hidden="true"></i>Remove
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- else if editing, display input fields -->
        <div v-else>
            <!-- form input for product name, description, and value -->
            <div class="form-group">
                <label for="productName"><b>Product Name</b></label>
                <input type="text" class="form-control" id="productName" v-model="productModel.name">
            </div>
            <div class="form-group">
                <label for="productDescription"><b>Product Description</b></label>
                <input type="text" class="form-control" id="productDescription" v-model="productModel.description">
            </div>
            <div class="form-group">
                <label for="productValue"><b>Product Value</b></label>
                <input type="text" class="form-control" id="productValue" v-model="productModel.value">
            </div>
            <!-- buttons for confirmation and cancellation -->
            <button id="iconButton" type="button" class="btn btn-outline-dark mr-1" @@click="cancel">
                <i class="fa fa-times-circle fa-fw" aria-hidden="true"></i>Cancel
            </button>
            <button id="iconButton" type="button" class="btn btn-success" @@click="createProduct" v-if="!productModel.id">
                <i class="fa fa-check fa-fw" aria-hidden="true"></i>Create Product
            </button>
            <button id="iconButton" type="button" class="btn btn-warning" @@click="updateProduct" v-else>
                <i class="fa fa-check fa-fw" aria-hidden="true"></i>Update Product
            </button>
        </div>
    </div>
</main>

@section scripts{
    <script src="~/js/admin/products.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.12.0/js/all.js" data-auto-replace-svg="nest"></script>
}
